<%@ Master Language="VB" CodeFile="MasterPage.master.vb" Inherits="MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Bloguea!</title>
    <link rel="stylesheet" href="CSS/StyleSheet.css" type="text/css" />
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder id="styleHeets" runat="server">
    </asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder id="javaScript" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <header>
            <ul>
                <li id="imagen"><a></a></li>
                <li id="nombreEmpresa"><img src="Img/1.png"/><a href="">Bloguea!</a></li>
                <li><a href="">Sign out</a></li>
                <li><a href="">Mi Cuenta</a></li>
                 <li><a href="">Blogs</a></li>
            </ul>
        </header>
    </div>
    </form>
            <asp:ContentPlaceHolder id="Body" runat="server"> 
        </asp:ContentPlaceHolder>
        <asp:ContentPlaceHolder id="nose" runat="server">
        </asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder id="UltimosjavaScript" runat="server">
    </asp:ContentPlaceHolder>
    <footer>
                Este es mi pie
            </footer>
</body>
</html>
