* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F2F2
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2ECCFA
}

li {
    float:right
}

li a {
        display: block;
        color: white;
        text-align: center;
        padding: 17px 20px;
        text-decoration: none;
}

#nombreEmpresa {
    float: left;
    padding: 0px 0px;
}

    #nombreEmpresa a {
        display: inline-block;
        float: left;
        padding: 17px 20px;
    }

#nombreEmpresa img {
        float: left;
        margin-left: 10px;
        height: 50px;
        width: 60px;
    }

li a:hover {
    background-color: #81DAF5;
}
